body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'SF Pro Text';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace, 'SF UI Text';
}
